In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_dir = '../data'

filepath = os.path.join(data_dir, 'covid_19_clean_complete.csv')

In [3]:
df = pd.read_csv(filepath)

In [4]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.000000,65.000000,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
45409,NaN,Sao Tome and Principe,0.186360,6.613081,2020-07-13,732,14,286,432,Africa
45410,NaN,Yemen,15.552727,48.516388,2020-07-13,1498,424,0,1074,Eastern Mediterranean
45411,NaN,Comoros,-11.645500,43.333300,2020-07-13,317,7,296,14,Africa
45412,NaN,Tajikistan,38.861034,71.276093,2020-07-13,6596,55,0,6541,Europe
45413,NaN,Lesotho,-29.609988,28.233608,2020-07-13,245,3,33,209,Africa

In [5]:
filepath = os.path.join(data_dir, 'day_wise.csv')

df = pd.read_csv(filepath)

df

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,35,880,287,8,5,2.76,3.72,74.29,9
3,2020-01-25,1434,42,38,1354,493,16,3,2.93,2.65,110.53,11
4,2020-01-26,2118,56,51,2011,684,14,13,2.64,2.41,109.80,13
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2020-07-09,12267777,554908,6638107,5074762,227038,5456,134026,4.52,54.11,8.36,187
170,2020-07-10,12497726,560193,6776990,5160543,229949,5285,138883,4.48,54.23,8.27,187
171,2020-07-11,12717167,565122,6901950,5250095,219441,4929,124960,4.44,54.27,8.19,187
172,2020-07-12,12909616,569112,7013334,5327170,192449,3990,111384,4.41,54.33,8.11,187
173,2020-07-13,13102549,573026,7153112,5376411,192933,3914,139778,4.37,54.59,8.01,187

In [7]:
filepath = os.path.join(data_dir, 'country_wise_latest.csv')

df = pd.read_csv(filepath)

df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,34455,1012,21254,12189,4,2,38,2.94,61.69,4.76,33190,1265,3.81,Eastern Mediterranean
1,Albania,3571,95,2014,1462,117,2,68,2.66,56.40,4.72,2964,607,20.48,Europe
2,Algeria,19689,1018,14019,4652,494,7,276,5.17,71.20,7.26,16404,3285,20.03,Africa
3,Andorra,858,52,803,3,3,0,0,6.06,93.59,6.48,855,3,0.35,Europe
4,Angola,525,26,118,381,19,0,0,4.95,22.48,22.03,346,179,51.73,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,6566,39,1084,5443,336,3,142,0.59,16.51,3.60,4341,2225,51.26,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1498,424,0,1074,33,7,0,28.30,0.00,inf,1284,214,16.67,Eastern Mediterranean
185,Zambia,1895,42,1412,441,0,0,0,2.22,74.51,2.97,1632,263,16.12,Africa
186,Zimbabwe,1034,19,343,672,49,1,15,1.84,33.17,5.54,734,300,40.87,Africa

In [8]:
filepath = os.path.join(data_dir, 'worldometer_data.csv')

df = pd.read_csv(filepath)

df

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.310711e+08,3479483,NaN,138247.0,NaN,1549469.0,NaN,1791767.0,15934.0,10510.0,418.0,43252833.0,130645.0,Americas
1,Brazil,South America,2.126118e+08,1887959,NaN,72921.0,NaN,1213512.0,NaN,601526.0,8318.0,8880.0,343.0,4572796.0,21508.0,Americas
2,India,Asia,1.380456e+09,907645,NaN,23727.0,NaN,572112.0,NaN,311806.0,8944.0,657.0,17.0,12092503.0,8760.0,South-EastAsia
3,Russia,Europe,1.459368e+08,733699,NaN,11439.0,NaN,504021.0,NaN,218239.0,2300.0,5028.0,78.0,23200000.0,158973.0,Europe
4,Peru,South America,3.298619e+07,330123,NaN,12054.0,NaN,221008.0,NaN,97061.0,1314.0,10008.0,365.0,1943679.0,58924.0,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,12,NaN,1.0,NaN,10.0,NaN,1.0,NaN,2404.0,200.0,61.0,12220.0,NaN
205,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
206,Papua New Guinea,Australia/Oceania,8.951878e+06,11,NaN,NaN,NaN,8.0,NaN,3.0,NaN,1.0,NaN,7147.0,798.0,WesternPacific
207,Western Sahara,Africa,5.977160e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa
208,MS Zaandam,NaN,NaN,9,NaN,2.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
filepath = os.path.join(data_dir, 'full_grouped.csv')

df = pd.read_csv(filepath)

df

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
32533,2020-07-13,West Bank and Gaza,6566,39,1084,5443,336,3,142,Eastern Mediterranean
32534,2020-07-13,Western Sahara,10,1,8,1,0,0,0,Africa
32535,2020-07-13,Yemen,1498,424,0,1074,33,7,0,Eastern Mediterranean
32536,2020-07-13,Zambia,1895,42,1412,441,0,0,0,Africa
32537,2020-07-13,Zimbabwe,1034,19,343,672,49,1,15,Africa

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32538 entries, 0 to 32537
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            32538 non-null  object
 1   Country/Region  32538 non-null  object
 2   Confirmed       32538 non-null  int64
 3   Deaths          32538 non-null  int64
 4   Recovered       32538 non-null  int64
 5   Active          32538 non-null  int64
 6   New cases       32538 non-null  int64
 7   New deaths      32538 non-null  int64
 8   New recovered   32538 non-null  int64
 9   WHO Region      32538 non-null  object
dtypes: int64(7), object(3)
memory usage: 2.5+ MB

In [12]:
df['Date']

0        2020-01-22
1        2020-01-22
2        2020-01-22
3        2020-01-22
4        2020-01-22
            ...
32533    2020-07-13
32534    2020-07-13
32535    2020-07-13
32536    2020-07-13
32537    2020-07-13
Name: Date, Length: 32538, dtype: object